<div class="clearfix d-flex justify-content-center">
    <div class="chat">
      <div class="chat-header clearfix">
        <img class="avatar" src="https://fonts.gstatic.com/s/i/materialicons/person_pin/v1/24px.svg" alt="avatar" />
        
        <div class="chat-about">
          <div class="chat-with">SMS Gateway Catcher: Conversation</div>
          <div class="chat-num-messages">already {{messages.length}} messages</div>
        </div>
        <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
      
      <div #messageHistory class="chat-history">
        <ul class="list-unstyled">
          <li class="clearfix" *ngFor="let message of messages">
            <div class="message-data" [ngClass]="{ 'align-right': (message.sender === 'Olia') }">
              <span class="message-data-time" >{{ message.dateSent | date : 'short' }}</span> &nbsp; &nbsp;
              <i *ngIf="message.sender !== 'Olia'" class="mr-2 fa fa-circle online"></i><span class="message-data-name" >{{message.sender}}</span><i *ngIf="message.sender === 'Olia'" class="ml-2 fa fa-circle me"></i>
            </div>
            <div class="other-message float-right message">
              <p [innerHtml]="message.text"></p>
            </div>
          </li>
        </ul>
        
      </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix d-none">
        <textarea (keydown)="onEnter($event)" autocomplete="off" [(ngModel)]="text" name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>
        <button (click)="send('Olia', 'Vincent', text)">Send</button>
      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->